<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <br/><br/><br/><br/>
    <ion-card>

        <ion-item text-wrap>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item text-wrap>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="Password" [(ngModel)]="Password"></ion-input>
        </ion-item>

    </ion-card>

    <br/>


    <ion-button fill="solid" expand="block" shape="round" color="secondary" (click)="login()">Login</ion-button>

    <a href="/register"><span>Dont have an Account? Register Here</span>></a>
    <br><br>
    <a href="/forgot-password"><span>Forgot your password? Reset it here</span>></a>

</ion-content>