<ion-header>
    <ion-toolbar>
        <ion-title>Reset password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item text-wrap>
        <ion-label position="floating">Enter username</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item text-wrap>
        <ion-label position="floating">Enter new password</ion-label>
        <ion-input type="text" [(ngModel)]="newpassword"></ion-input>
    </ion-item>

    <ion-item text-wrap>
        <ion-label position="floating">Confirm password</ion-label>
        <ion-input type="text" [(ngModel)]="confirmpassword"></ion-input>
    </ion-item>

    <ion-button fill="solid" expand="block" shape="round" color="secondary" (click)="submit()">Submit</ion-button>

</ion-content>